{% extends 'includes/layout.html' %}
{% block content %}
    <div class="row">
        <div class="col-md-12 mt-4">
            <div class="card">
                <div class="card-header pb-0 px-3">
                    <h6 class="mb-0">Transactions</h6>
                </div>
                <div class="card-body pt-4 p-3">
                    <ul class="list-group">
                        {% for transaction in transactions %}
                            <li class="list-group-item border-0 d-flex p-4 mb-2 bg-gray-100 border-radius-lg">
                                <div class="d-flex flex-column">
                                    <h6 class="mb-3 text-sm">{{ transaction.type }}</h6>
                                    <span class="mb-2 text-xs">Nom du client: <span
                                            class="text-dark font-weight-bold ms-sm-2">{{ transaction.compte.nom }}</span></span>
                                    <span class="mb-2 text-xs">Date: <span
                                            class="text-dark ms-sm-2 font-weight-bold">{{ transaction.created_at }}</span></span>
                                    <span class="text-xs">Montant: <span
                                            class="text-dark ms-sm-2 font-weight-bold">{{ transaction.amount }}</span></span>
                                </div>
                                <div class="ms-auto text-end">
                                    <a class="btn btn-link text-dark px-3 mb-0" href="javascript:;"><i
                                            class="material-icons text-sm me-2">edit</i>Auteur</a>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>

{% endblock %}